p, span {
    font-size : 11px;
}
div {
    border : 1px gray solid;
}
input[type="number"] {
    text-align : right;
    width : -webkit-fill-available;
}
input[type="button"] {
    display : block;
    margin : 3% auto;
}
table {
    border-collapse: collapse;
    border : 1px black solid;
    width : 95%;
    margin : 1% 2.5%;
    table-layout : fixed;
}
table td, table th{
    border : 1px black solid;
}
.common-center-contents {
    display : flex;
    justify-content : space-around;
    align-items : center;
}
progress, progress::-webkit-progress-bar, progress::-webkit-progress-value {
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: white;
    border : 1px black solid;
}
#screen {
    width : 400px;
    height : 600px;
}
#header {
    width : 100%;
    height : 12%;
}
#header-user {
    width : 20%;
    height : 100%;
}
#header-lv {
    width : 100%;
    height : 67%;
}
#header-lv span {
    font-size : 20px;
    text-align : center;
}
#header-exp {
    width : 100%;
    height : 30%;
}
#header-exp-bar {
    width : 70%;
    height : 50%;
}
#header-exp-bar::-webkit-progress-value {
    background-color: pink;
}
#header-status {
    width : 40%;
    height : 100%;
}
#header-stamina {
    width : 100%;
    height : 48%;
}
#header-stamina-bar {
    width : 65%;
    height : 35%;
    margin : 0 10% 0 5%;
    border-radius : 20px;
}
#header-stamina-bar::-webkit-progress-value {
    background-color : #00ffff;
}
#header-stamina span {
    width : 34%;
    font-size : 8px;
}
#header-bp {
    width : 100%;
    height : 48%;
}
#header-bp-area {
    width : 65%;
    height : 100%;
    border : 0px;
}
#header-bp-area div {
    width : 10%;
    height : 20%;
    border-radius : 30px;
}
#header-bp-area .header-bp-on {
    background-color : yellow;
}
#header-bp-area .header-bp-off {
    background-color : gray;
}
#header-bp span {
    width : 34%;
    font-size : 8px;
    text-align : center;
}
#header-coins {
    width : 40%;
    height : 100%;
}
#header-free {
    width :50%;
    height : 100%;
}
#header-premium {
    width : 50%;
    height : 100%;
}
.header-coin-count {
    width : 70%;
    font-size : 12px;
    margin : 0 5% 0 0;
    text-align : right;
}
#header-free div {
    width : 15%;
    height : 17%;
    margin : auto;
    border : 1px pink solid;
    background-color : pink;
    border-radius : 50px;
}
#header-premium div {
    width : 15%;
    height : 17%;
    margin : auto;
    border : 1px gold solid;
    background-color : gold;
    border-radius : 50px;
}
#contents {
    width : 100%;
    height : 77%;
    overflow : auto;
}
#footer {
    width : 100%;
    height : 10%;
}
#footer div {
    width : 14%;
    height : 90%;
    border-radius : 50px;
}
